.tableDiv{
    width: 100%;

}

table{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
td,th{
    border: 1px solid white;
    padding: 10px;
}
th{
    font-weight: bold;
 
}
th:nth-child(even){
    background-color: #dddddd;
}
th:hover{
    background-color: rgb(141, 138, 133);
    
}
.selectDAteDiv{
    padding: 20px;
}
.generalChart{
    padding: 50px;
}
.lineChart{
    padding: 20px;
}