<form [formGroup]="dataForm">

  <div class="selectDateDiv">
    <mat-form-field appearance="fill">
      <mat-label>select date</mat-label>
      <mat-select (selectionChange)="selectedDate($event)" formControlName="date">
        <mat-option *ngFor='let dates of returnDateList' [value]="dates">
          {{dates}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="tableDiv">
    <table *ngIf="parsedData" class="table">
      <thead>
        <th>date</th>
        <th>confirmed</th>
        <th>deaths</th>
        <th>recovered</th>
        <th>new confirmed</th>
        <th>new deaths</th>
        <th>new recovered</th>

      </thead>
      <tbody *ngFor='let data of parsedData'>
        <td>{{data.date|date}}</td>
        <td>{{data.confirmed}}</td>
        <td>{{data.deaths}}</td>
        <td>{{data.new_confirmed}}</td>
        <td>{{data.recovered}} </td>
        <td>{{data.new_deaths}}</td>
        <td>{{data.new_recovered}}</td>
      </tbody>

    </table>
  </div>
</form>

<button (click)="showChart()" mat-button color="primary">show chart</button>
<div class="Charts">
  <div class="lineChart" echarts [options]="_lineChartOptions">


  </div>

</div>