
.mainConteiner{
    box-shadow: 0 3px 15px rgba(78, 76, 76, 0.23);
    position: sticky;
    z-index: 1;
    top: 0px
  
}
.routerLinkCont{
    background-color: white;
    padding: 30px;
}
a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
}
.router-link-active{
    background-color: rgb(179, 179, 219);;
    padding: 10px;
}
