<form [formGroup]="countryForm">

 
    <div class="selectCountryCodesDiv">
        <mat-form-field appearance="fill">
            <mat-label>select country code </mat-label>
            <mat-select (selectionChange)="selectCountryCodes($event)" formControlName="countryCode">
                <mat-option *ngFor='let countryList of sortedCountryList' [value]="countryList.code">
                    {{countryList.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <span class="countryTitle" *ngFor="let name of responseData ">
            <h3 class='contryName'> {{name.data.name}}</h3>
        </span>
    </div>



    <div [hidden]="isSelected" class="tableDiv">
        <table class="table" *ngIf="responseData">
            <thead>
                <th>population</th>
                <th>updated at </th>
                <th> recovered</th>
                <th> confirmed</th>
                <th> deaths</th>
                <th>today confirmed</th>
                <th>today death</th>
                <th>today recovered</th>
                <th>death rate </th>
                <th>recovery rate </th>
                <th>cases per million population</th>

            </thead>
            <tbody *ngFor='let data of responseData'>

                <td>{{data.data.population}}</td>
                <td>{{data.data.updated_at|date}}</td>
                <td>{{data.data.latest_data.recovered}}</td>
                <td>{{data.data.latest_data.confirmed}}</td>
                <td>{{data.data.latest_data.deaths}}</td>
                <td>{{data.data.today.deaths}}</td>
                <td>{{data.data.today.confirmed}}</td>
                <td *ngIf="data.data.timeline.length!=0;else noValue">{{data.data.timeline[0].new_recovered}}</td>
                <ng-template #noValue>
                    <td>N/A</td>
                </ng-template>
                <td>{{data.data.latest_data.calculated.death_rate|roundNumber}}</td>
                <td>{{data.data.latest_data.calculated.recovery_rate|roundNumber}}</td>
                <td>{{data.data.latest_data.calculated.cases_per_million_population|roundNumber}}</td>



            </tbody>

        </table>
    </div>


</form>



<div class="timeRangeBtns" [hidden]=IstimeRangeSelectShow>
    <button mat-button (click)="viewMode='view3MonthChart'">Last 3 Month</button>
    <button mat-button (click)="viewMode='ShowAllTimeChart'">All Time</button>

</div>


<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'ShowAllTimeChart'">
        <div class="Charts">
            <div class="lineChartDiv" echarts [options]="_linechartOptions">
            </div>

            <div class="barChartDiv" echarts [options]="_barChartOptions">


            </div>
        </div>

    </div>

    <div *ngSwitchCase="'view3MonthChart'">
  
        <div class="AlltimeCharts">
            <div class="lineChartDiv" echarts [options]="_Last3MonthLinechartOptions" >
            </div>
            <div class="barChartDiv" echarts [options]="_Last3MonthbarChartOptions" >
            </div>
        </div>
    </div>
</div>

