
.lineChartDiv,.barChartDiv{
    padding: 20px;
    border-radius: 5px;
   
}
.countryName{
    position: absolute;
}
.selectCountryDiv{
    padding: 20px;
}
.selectCountryCodesDiv{
    display: flex;
    padding: 20px;
}
.countryTitle{
 margin-left: 50px;
 justify-content: center;
 text-align: center;
 align-items: center;
 color: rgb(75, 75, 204);
}
.timeRangeBtns{
  margin-top: 20px;
  text-align: center;
}

